.navbar {
  border-bottom: 2px solid #00bcd4;
}

.nav-link:hover {
  color: #00bcd4 !important;
  transition: color 0.3s ease;
}

.p-inputtext-lg {
  height: 40px;
  border: 1px solid #ced4da;
}

.p-button-primary {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.p-button-primary:hover {
  background-color: #00bcd4;
  border-color: #00bcd4;
}